.custom-button {
  min-width: 165px;
  width: auto;
	height: 50px;
	border: none;
	padding: 0 35px 0 35px;
	font-family: 'Open Sans Condensed';
	font-weight: bolder;
	font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 50px;
  color: white;
  text-transform: uppercase;
  background-color: black;
	display: flex;
	justify-content: center;
  cursor: pointer;

  &:hover {
		border: 1px solid black;
    color: black;
    background-color: white;
	}
	
	&.google-sign-in {
		color: white;
		background-color: #4285f4;

		&:hover {
			border: none;
			background-color: #357ae8;
		}
	}

	&.inverted {
		border: 1px solid black;
    color: black;
		background-color: white;
		
		&:hover {
			border: none;
			color: white;
			background-color: black;
		}
	}
}
